@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primary: #0A3871;
    --cor-secondary: #343A40;
    --cor-tertiary: #495057;
    --cor-hover: #272727;
    --cor-background: #F3F5FC;
    --cor-hover: #EFF1FA;
    --cor-hover-dark: #072B61;


    --font-primary: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-background);
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.flex {
    display: flex;
}

.area__cripto__texto {
    font-size: 2rem;
    color: var(--cor-primary);
    border: none;
    resize: none;
}
.area__cripto__texto::placeholder {
    color: var(--cor-primary);
}

.area__cripto__informe {
    font-size: 0.75rem;
    color: var(--cor-tertiary);
    display: flex;
    gap: 8px;
}

.button__dark {
    font-size: 1rem;
    color: white;
    background-color: var(--cor-primary);
    border-radius: 24px;
    border: 2px solid var(--cor-primary);
    padding: 24px;
}
.button__dark:hover {
    background-color: var(--cor-hover-dark);
}

.button__light {
    font-size: 1rem;
    color: var(--cor-primary);
    border-radius: 24px;
    border: 2px solid var(--cor-primary);
    padding: 24px;

}

.resultado__cripto {
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px #00000014;
}

.resultado__cripto__title {
    font-size: 1.5rem;
    color: var(--cor-secondary);
    font-weight: 700;
}

.resultado__cripto__texto {
    font-size: 1rem;
    color: var(--cor-tertiary);
}